$mc1: #44a8ff; // 主色调
$mc2: #f0f4f8; // 背景底色
$mc3: #ff5451; // 警告色
$mc4: #09c161; // 完成色
$mc5: #fcb62e; // 等待色
$tc1: #333333; //主文案
$tc2: #666666; //副文案（已填写状态）
$tc3: #999999; //副文案（未填写状态）
$tc4: #5e5e5e; //分割线
$fs0: 40rpx;
$fs1: 36rpx;
$fs2: 32rpx;
$fs3: 28rpx;
$fs4: 26rpx;
$fs5: 24rpx;
$ppd: 60rpx;
$pbc: $mc2;

:export {
  mc1: $mc1;
  mc2: $mc2;
  mc3: $mc3;
  mc4: $mc4;
  mc5: $mc5;
  tc1: $tc1;
  tc2: $tc2;
  tc3: $tc3;
  pbc: $pbc;
}